@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;300&display=swap');
.presentacion-home{
    background-image: url(../../../Images/paisajes/playa.jpg);
    background-position: bottom;
    background-size: cover;
    min-height: 70vh;
    width: 100%;
    padding: 0;
}
.presentacion-home-contenedor{
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    color: rgb(4, 74, 82);
}
.presentacion-home-contenedor h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    letter-spacing: 10px;
}
.presentacion-home-contenedor h2{
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 70px;
    letter-spacing: 5px;
}
.presentacion-home-contenedor a{
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(4, 74, 82);
    border: rgb(4, 74, 82);
    border-radius: 10px;
    transition: .6s;
    font-size: 18px;
}
.presentacion-home-contenedor a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(3, 120, 133);
    transition: .6s;
}
.seleccion-paises{
    padding: 1em 0;
}
.seleccion-paises ul{
    border-bottom: 1px solid rgba(218, 218, 218, 0.982);
}
.seleccion-paises ul li a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(4, 74, 82);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    font-family: 'Bitter', serif;
    font-weight: 400;
}
.seleccion-paises ul li a:hover{
    color: rgb(50, 116, 116);
    transform: translateY(-5px);
}
@media (max-width: 500px),(max-width: 900px){
    .presentacion-home-contenedor{
        color: rgb(255, 255, 255);
    }
}
