.cards-lugares{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}
.cards-lugares-contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card.mb-3{
    margin: 10px;
    max-width: 450px;
}
.img-fluid{
    min-height: 150px;
    min-width: 200px;
}
.cards-lugares .card-body {
    color:#656565;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards-lugares .card-body h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-body a{
    color: rgb(4, 74, 82);
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    border: 1px solid rgb(4, 74, 82);
    background-color: #fff;
    padding: 8px 14px;
}
.card-body a:hover{
    background-color: rgb(26, 64, 68);
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
}
.cards-lugares .card-footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}
.cards-lugares .card-body p{
    margin: 0;
    text-align: center;
}
.cards-lugares .card-body p code{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.cards-lugares .card-footer a{
    text-decoration: none;
    margin:  0 15px;
    font-size: 22px;
    color: rgb(4, 74, 82);
}
.cards-lugares .card-footer a:hover{
    color: rgb(5, 57, 63);
}
.carousel-inner .carousel-item{
    display: flex;
    flex-direction: row;
}
.carousel-control-next-icon {
    background-image: url(../../../Images/iconos/angle-right.png);
}
.carousel-control-prev-icon{
    background-image: url(../../../Images/iconos/angle-left.png);
}