.proyectos-ejemplos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    flex-wrap: wrap;
    color: rgb(4, 74, 82);
    font-family: 'Montserrat', sans-serif;
}
.proyectos-ejemplos-contenedor{
    padding: 2em 0;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.proyectos-ejemplos .ver-promociones{
    color: rgb(4, 74, 82);
    padding: 10px 30px;
    border:1px solid rgb(4, 74, 82);
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    transition: .4s;
}
.ver-promociones:hover{
    background-color: rgb(4, 74, 82);
    color: white;
    transition: .4s;
}
.card-proyecto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 1em;
    width: 450px;
    height: 250px;
    color: #fff;
    transition: .8s;
    background-size: cover;
}
.card-proyecto:hover{
    transition: .8s;
    transform: translateY(-10px);
    cursor: default;
}
.card-proyecto-contenedor{
    padding: 2em;
    border-radius: 10px;
    display: flex;
    opacity: 1;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: .8s;
    background-color: rgba(0, 0, 0, 0.434);
    font-family: 'Montserrat', sans-serif;
}
#argentina{
    background-image: url(../../../Images/paisajes/argentina.jpg);
}
#chile{
    background-image: url(../../../Images/paisajes/chile.jpeg);
}
#francia{
    background-image: url(../../../Images/paisajes/francia.jpg);
}
.card-proyecto-footer span{
    font-size: 20px;
    margin: 10px;
    color: #fff;
}
.card-proyecto-footer a:hover{
    background-color: rgba(255, 255, 255, 0.253);
    transition: .8s;
}
.card-proyecto-contenedor a{
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 40px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: .5s;
}
.card-proyecto-contenedor a:hover{
    background-color: rgb(28, 86, 87);
    transition: .5s;
}
@media (max-width: 400px),(max-width: 900px){
    .proyectos-ejemplos-contenedor{
        padding: 2em 0;
        flex-direction: column;
    }
    .card-proyecto{
        display: flex;
        flex-direction: row;
        margin: 1em 0;
        width: 350px;
        height: 200px;
    }
}