@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prata&display=swap');
.formulario-contacto{
    padding: 4em 0;
    display: flex;
}
.formulario-contacto-contenedor{
    display: flex;
    flex-direction: column;
    padding: 3em 1em;
    margin: 1em;
    border-radius: 40px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(4, 74, 82);
    border: 1px solid rgb(203, 203, 203);
}
.formulario-contacto-contenido{
    color: rgb(4, 74, 82);
    font-weight: 500;
    padding: 2em 0;
}
.medios-contacto-contenedor{
    display: flex;
    padding: 2em 0;
}
.medios-contacto-contenedor a i{
    font-size: 40px;
    margin:0 20px;
    color: rgb(4, 74, 82);
}
.medios-contacto-contenedor a i:hover{
    transform: scale(1.1,1.1);
}