@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prata&display=swap');
header{
    display: flex;
    position: absolute !important;
    justify-content: center !important;
    text-align: center;
    width: 100%;
    background-color: rgba(240, 255, 240, 0);
}
.logo{
   width: 80px;
   height: 80px;
}
.navbar{
    display: flex;
    position: absolute !important;
    justify-content: center !important;
    text-align: center;
    width: 100%;
    background-color: #e3f2fd00 !important;
}
.navbar .container-xxl{
    border-bottom: 1px solid rgba(218, 218, 218, 0.982);
}
.navbar-brand{
    font-family: 'Prata', serif;
    color: #fff !important;
}
.navbar .nav-link{
    font-family: 'Montserrat', sans-serif;
    color:  rgb(255, 255, 255) !important;
    font-size: 18px;
}
.offcanvas{
    background:linear-gradient(180deg, rgba(4, 74, 82, 0.639), rgba(104, 155, 160, 0.612));
    border: #fff;
}
.offcanvas-title{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.d-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.d-flex .btn{
    margin: 10px 0;
    width: 50%;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}