@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prata&display=swap');

header{
    background-color: rgba(240, 255, 240, 0);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    z-index: 10;
}
header.abajo{
    background:linear-gradient(180deg, rgba(3, 29, 31, 0.934), rgba(40, 69, 72, 0.9));
    color: black !important;
    padding: 45px;
    transition: 0.7s;
}
header.abajo .navbar .container-xxl{
    border: none;
    transition: 0.7s;
}
.logo{
   width: 80px;
   height: 80px;
}
.navbar{
    display: flex;
    position: absolute !important;
    justify-content: center !important;
    text-align: center;
    width: 100%;
    background-color: #e3f2fd00 !important;
}
.navbar .container-xxl{
    border-bottom: 1px solid rgba(218, 218, 218, 0.982);
}
.navbar-brand{
    font-family: 'Prata', serif;
    color: #fff !important;
}
.navbar .nav-link{
    font-family: 'Montserrat', sans-serif;
    color:  rgb(255, 255, 255) !important;
    font-size: 18px;
}
.offcanvas{
    background:linear-gradient(180deg, rgba(6, 46, 50, 0.838), rgba(40, 69, 72, 0.804));
    border: #fff;
}
.offcanvas-title{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.d-flex{
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}
.d-flex .btn{
    margin: 10px 0;
    width: 50%;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.nav-item img{
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
.nav-item{
    font-size: 14px;
    padding: 0 10px;
    margin: 10px;
}
.nav-item:hover{
    transform: scale(1.1,1.1);
}
.menu-nav img{
    width: 35px;
    height: 35px;
}
.btn-close{
    background-image: url(../../Images/iconos/cruz.png);
}