@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');
/*      
      font-family: 'Montserrat', sans-serif;
      font-family: 'Prata', serif;
      font-family: 'EB Garamond', serif;
*/

  footer{
    padding: 1em;
    border-top: 1px solid rgb(188, 188, 188);
     margin-top: 3em;
     width: 100%;
     background: rgb(255, 255, 255);
     color: rgb(125, 125, 125);
     font-family: 'Montserrat', sans-serif;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    color: rgb(111, 111, 111);
    font-size: 1.125rem;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: rgb(255, 255, 255);
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: rgb(50, 116, 116);
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    color: rgb(50, 116, 116);
    background: rgb(255, 255, 255);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: rgb(50, 116, 116);
    color: #fff;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: rgb(255, 255, 255);
    color: rgb(50, 116, 116);
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    color: #fff;
    background: rgb(50, 116, 116);
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: rgb(125, 125, 125);
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: rgb(255, 255, 255);
    padding-left: 10px;
    border: 1px solid #cbcbcb;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    color: rgb(255, 255, 255);
      padding: 5px;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: rgb(50, 116, 116);
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: rgb(24, 81, 81);
  }
  .bottom center{
    padding: 1em 0;
    font-size: 0.9375rem;
    background: rgb(255, 255, 255);
  }
  .bottom center span{
    color: rgb(125, 125, 125);
  }
  .bottom center a{
    font-weight: 600;
    color: rgb(50, 116, 116);
    text-decoration: none;
    font-family: 'EB Garamond', serif;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }
  
  
  /*****Eliminar border por defecto de un botton */
  input{
    border: none;
    outline: none;
    }
  textarea{
  outline: none;
  outline:none;
  }