@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prata&display=swap');
.cards-hoteles{
    display: flex;
}
.cards-hoteles-contenedor{
    display: flex;
    flex-wrap: wrap;
}
.cards-hoteles p code{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.cards-hoteles .card-img-top{
    height: 200px;
}
.cards-hoteles a{
    text-decoration: none;
    margin: 15px;
    font-size: 25px;
    color: #656565;
}
.cards-hoteles a:hover{
    color: green;
}
.cards-hoteles .card{
    width: 18rem;
    margin: 1em 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cards-hoteles .card-body a{
    font-size: 15px;
    border: none;
    padding: 0;
    margin: 10px;
    border-radius: 0;
}
.cards-hoteles .card-body a:hover{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid  rgb(4, 74, 82);
    background-color:white;
}
.precio{
    color: green;
}
.puntaje{
    color: rgb(4, 74, 82);
}